<p class="mat-h2">Software</p>

<ul>
	<li>Linux operating system
		<ul>
			<li>Linux is used for both development and deployment.</li>
			<li>We are distro-neutral.
				<ul>
					<li>Ubuntu is used for development. Arch and Fedora work, too. Though not tested, other distros should also work.</li>
					<li>Deployment depends only on OS kernel.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Development tools
		<ul>
			<li>Visual Studio Code + extensions such as SQL Server, PostgreSQL Explorer, Draw.io, etc.</li>
			<li>Postman (API test)</li>
			<li>Azure software suite, such as Azure CI/CD pipeline, Azure git repo, Azure dashboard, etc.</li>
			<li><span class="faded">pgAdmin</span> (GUI for PostgreSQL)</li>
			<li><span class="faded">MongoDB Compass</span> (GUI for MongoDB)</li>
			<li><span class="faded">Microsoft SQL Server Management Studio</span> (GUI for MS SQL)</li>
		</ul>
	</li>
</ul>