<div class="mat-h1">Cross-training</div>

<ul>
	<li>Backup owner:
		<ul>
			<li>Identify a backup owner and cross-train each other.</li>
			<li>Review and improve source code together.</li>
			<li>Share maintenance responsibilities (bug fixes, enhancements, etc.) so both partners are reasonably familiar with the app.</li>
		</ul>
	</li>
		<li>Present your project at team meetings/offsites so if both the owner and the backup owner are out of office, another developer can 
			take over project maintenance.</li>
</ul>
