<div class="mat-h1">Git</div>

<p>We use <a href="https://dev.azure.com/HanoverSolutionsDevelopers/" target="_blank">Azure Git repository</a>. It works like any other Git repo where you can create or delete 
	repos via GUI. If you click on repo dropdown menu at the top (the breadcrumb navigation bar), you will see options 'New Repository', 'Manage Repository', etc.</p>

<p>Each time you update your enterprise password (the password you use to log into Hanover's laptop everyday), you will need to log into the Azure Git Repo page (linked above) once, 
	or you will receive error message git pull/push.
</p>