<p class="mat-h2">Technologies</p>
<ul>
		<li><a href="https://angular.io" target=_blank class="link">Angular</a>, 
				<a href="https://material.angular.io/" target=_blank class="link">Material library</a> 
				(front end)</li>
		<li><a href="https://nodejs.org/en/" target=_blank class="link">Node.js</a>, 
				<a href="https://www.npmjs.com/package/express" target=_blank class="link">Express.js</a>,
				<a href="https://sequelize.org" target=_blank class="link">sequelize</a>
				 (back end)</li>
		<li>
				<a href="https://docs.microsoft.com/en-us/sql/?view=sql-server-ver15" target=_blank class="link">Microsoft SQL</a>, 
				<a href="https://www.postgresql.org/" target=_blank class="link">PostgreSQL</a>, 
				<a href="https://www.mongodb.com/" target=_blank class="link">MongoDB</a>, 
				<a href="https://docs.oracle.com/en/database/oracle/oracle-database/" target=_blank class="link">Oracle Database</a>
				 (database)</li>
</ul>