<p class="mat-h2">Technologies</p>
<ul>
		<li><a href="https://angular.io" target=_blank class="link">Angular</a>, 
				<a href="https://material.angular.io/" target=_blank class="link">Material library</a> 
				(front end)</li>
		<li><a href="https://nodejs.org/en/" target=_blank class="link">Node.js</a>, 
				<a href="https://www.npmjs.com/package/express" target=_blank class="link">Express.js</a>,
				<a href="https://sequelize.org" target=_blank class="link">sequelize</a>
				 (back end)</li>
		<li>
				<a href="https://docs.microsoft.com/en-us/sql/?view=sql-server-ver15" target=_blank class="link">Microsoft SQL</a>, 
				<a href="https://www.postgresql.org/" target=_blank class="link">PostgreSQL</a>, 
				<a href="https://www.mongodb.com/" target=_blank class="link">MongoDB</a>, 
				<a href="https://docs.oracle.com/en/database/oracle/oracle-database/" target=_blank class="link">Oracle Database</a>
				 (database)</li>
</ul>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Why Angular + Node.js stack?</mat-panel-title>
	</mat-expansion-panel-header>
	<ul>
		<li>Angular&mdash;Steep learning curve; highly regimented; easy to maintain.
			<ul>
				<li>TypeScript
					<ul>
						<li>Popular Microsoft technology (Oct. 2012)</li>
						<li>Used by 2 of the 3 modern front end technologies (Angular and Vue.js&ndash;TypeScript; React.js&ndash;JavaScript) </li>
						<li>Fewer bugs; easy to debug.</li>
					</ul>
				</li>
				<li>Backed by Google</li>
				<li>Highly regimented framework + comprehensive ecosystem (e.g. Material Library) = minimal use of 3rd party libraries; easy to maintain.</li>
				<li>Widely adopted by large organizations.</li>
				<li class="warn">Steep learning curve compared to React.js.</li>
			</ul>
		</li>
		<li>Node.js&mdash;JavaScript for back end
			<ul>
				<li>JavaScript for back end = easy to go full stack. Excellent choice for a small team like ours.</li>
				<li>Full stack = greatly simplified debugging process.</li>
				<li>Comprehensive npm packages.</li>
				<li>Widely adopted and backed by large organizations.</li>
			</ul>
		</li>
		<li>sequelize
			<ul>
				<li>Higher level abstraction = greatly reduced code base.</li>
				<li>Robust solutions: JavaScript code work on all SQL databases with the correct database engine.</li>
			</ul>
		</li>
		<li>MongoDB
			<ul>
				<li>Greatly reduced code base</li>
				<li>Vastly simplified data organization when dealing with multi-level hierarchic data structure.</li>
			</ul>
		</li>
	</ul>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Learning new technologies by working on projects</mat-panel-title>
	</mat-expansion-panel-header>
	<p>When assigning projects, I will take into consideration your current skill set, and assign a project where 
		you can learn new technologies. For example, if you are a back end developer knowlegeable in SQL, I will assign 
		you a project using MongoDB; if you are a front end developer with limited exposure to Reactive Forms, I will assign 
		you a project using Reactive Forms.</p>
	<p>
		If you are interested in learning a particular technology, please let me know so I will accommodate your needs as 
		much as I can.
	</p>
</mat-expansion-panel>