<div class="mat-h1">Azure Deployment</div>

<p>A CI/CD pipeline (e.g. Azure CI/CD pipeline, Jenkins) allows deployment from source code and is the preferred approach. The manual approach 
    described below explicitly builds a docker image.</p>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Overview of Deployment
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>A typical web app has 3 parts:</div>
    <ul>
        <li>Front end - Angular app. Source code are compiled into a folder (e.g. /dist/client). These compiled 
            code run in a client browser such as Google Chrome.
        </li>
        <li>Back end - Node.js app. Source code run on a server. It serves both APIs (e.g. data base CRUD operations) 
            and the compiled front end (see above).
        </li>
        <li>Database - For data persistency. Usually a SQL database (Microsoft SQL) or non-SQL database (MongoDB)</li>
    </ul>

    <p>A front end never talks to a database directly: a back end connects them.
        <br><span class="code">Front end &larr; &rarr; Back end &larr; &rarr; Database</span></p>

    <div>To deploy a web app, you need to build a docker image, so your Node.js app runs in an isolated environment 
        with all its dependencies. An activated docker image is called a docker container. All docker containers run 
        off a shared Linux kernel.
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            1. Files and folders
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ol>
        <li>Decide on app URL and request an Azure app service to be set up in Azure (Margo/Ryan).</li>
        <li><span class="code">git clone</span> your combined front end and back end project into a single directory.</li>
        <li>Create empty Dockerfile and .dockerignore file. Now your file/folder structure should look like this: 
            <ul>
                <li class="with-icon"><mat-icon>folder</mat-icon> &nbsp; client</li>
                <li class="with-icon"><mat-icon>folder</mat-icon> &nbsp; server</li>
                <li class="with-icon"><mat-icon>folder</mat-icon> &nbsp; .git (a hidden directory)</li>
                <li class="with-icon"><mat-icon>description</mat-icon> &nbsp; Dockerfile</li>
                <li class="with-icon"><mat-icon>description</mat-icon> &nbsp; .dockerignore</li>
                <li class="with-icon"><mat-icon>description</mat-icon> &nbsp; .gitignore</li>
            </ul>
        </li>
        <li>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Populate Dockerfile
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <pre class="code">
# build front end
FROM node:latest AS client_build
WORKDIR /app
COPY ./client /app/
RUN npm install
RUN node_modules/.bin/ng build --configuration=development

# build back end
FROM node:latest AS server_build
WORKDIR /app
COPY ./server /app/
COPY --from=client_build /app/dist/client /app/dist
RUN npm install --production

# build docker
FROM ubuntu:latest
WORKDIR /app
RUN apt-get update
RUN apt-get -y install nodejs
COPY --from=server_build /app ./
CMD ["node", "./bin/www"]</pre>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Step 1 folder structure
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li class="with-icon"><mat-icon>folder</mat-icon> &nbsp; app</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; dist</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; node_modules</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; src</li>
                <li class="with-icon left-padded"><mat-icon>description</mat-icon> &nbsp; root level 
                    files, e.g. angular.json, package.json, etc.</li>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Step 2 folder structure
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li class="with-icon"><mat-icon>folder</mat-icon> &nbsp; app</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; dist</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; node_modules</li>
                <li class="with-icon left-padded"><mat-icon>folder</mat-icon> &nbsp; bin</li>
                <li class="with-icon left-padded"><mat-icon>description</mat-icon> &nbsp; app.js</li>
                <li class="with-icon left-padded"><mat-icon>description</mat-icon> &nbsp; root level 
                    files &amp; directories, e.g. package.json</li>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Step 3 folder structure
            </mat-panel-title>
        </mat-expansion-panel-header>
        Step 3 folder structure is exactly the same as step 2 folder structure. The only difference is 
        that step 2 uses a pre-built Alpine + Node.js image, while step 3 uses vanilla Alpline image and 
        then installs its own Node.js, omitting a large number of packages and further reducing image size.
    </mat-expansion-panel>
            </mat-expansion-panel>
            
        </li>
        <li>            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Populate .dockerignore file
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <pre class="code">
    **/node_modules
    **/.git
    **/.gitignore
    **/.vscode
    **/README.md
                </pre>
            </mat-expansion-panel>
        </li>
        <li>Remember to create your own .env file since .env is ignored by git to protect password.</li>
        <li>run <span class="code">npm i</span> on back end and front end</li>
    </ol>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            2. Configuration
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
        On the front end, you need to make sure your src/angular.json configuration matches your deployment, 
        i.e. the correct environment and the correct build output path are used. Any mismatch will produce an error. 
        The default output path 'dist/client' will work if you created your front end with 'ng new client'.
    </p>
    <ul>
        <li>
            Update base URL so the front end API calls will reach out to your deployment URL instead of test URL. For 
            example, if your app will be deployed @ https://facreinsurance-uat.allmerica.com/, in your front end 
            project, file src/environments/environment.xxxx.ts, change baseURL to https://facreinsurance-uat.allmerica.com/ 
            so your front end will be calling the correct APIs upon deployment. A sample environment.uat.ts file: <br>
            <pre class="code">
export const environment = &#123;
    production: false,
    baseURL: 'https://facreinsurance-uat.allmerica.com/'
&#125;
            </pre>
        </li>
        <li>
            Compile to the right directory (configured in file src/angular.json). By default it is /dist/client            
            <span class="code">"outputPath": "./dist/client"</span>. 
            You can choose which environment to use when you serve or compile an Angular app. Environments are also configured 
            in <span class="code">src/angular.json</span>. You can define as many environments as you wish. There are separate 
            environments for ng serve (for in-memory test) and ng build (for deployment). You may use 
            <span class="code">ng build/serve --configuration=XXXX</span> (uat, development, production, etc.) so the correct URLs are used.
        </li>
        <li>
            On the back end, you need to make sure that Node.js is serving the compiled front end from the correct directory, i.e. 
            the same directory to which you copied the compiled Angular app in your Dockerfile:
            <pre class="code">
// app.js file: serving Angular app from directory /dist
app.use(express.static('./dist'));
app.all('/*', (req, res, next) => &#123;
    res.sendFile('index.html', &#123;root: './dist'&#125;);
&#125;);
            </pre>

            <p>Code above in your app.js file need to match code below in your Dockerfile to ensure the correct directory is used:</p>
            <pre class="code">
// Dockerfile: copying from /app/dist/client on front end to /app/dist on back end
COPY --from=client_build /app/dist/client /app/dist  
            </pre>
            <div>In your docker image, /app is the root directory where both the compiled front end and the back end reside. As a result, 
                you app.js serves the compiled Angular app from ./dist, not ./app/dist.
            </div>
        </li>
    </ul>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            3. Build docker image and push to Azure docker registry
        </mat-panel-title>
    </mat-expansion-panel-header>
    Under your deployment root directory, execute: 
    <ol>
        <li class="code">az login --use-device-code</li>
        <li class="code">sudo az acr login --name AZURE_DOCKER_REGISTRY (e.g. solutionscontainerregistry) --subscription SUBSCRIPTION_ID</li>
        <div>Subscription ID can be found in Azure portal.</div>
        <li class="code">sudo docker build -t solutionscontainerregistry.azurecr.io/XXXXX . && sudo docker push solutionscontainerregistry.azurecr.io/XXXXX</li>
        <li>Log into Azure portal, select the correct app service (e.g. fac-uat), and click on 'Deployment Center' on left</li>
        <li>Select image XXXXX (the image you built in step 3), and Tag XXX and click on 'Save' on upper left,</li>
        <li>Once saving is finished, go back to the overview section of your app service and click "Restart". Once the app is finished restarting, you can access your app with your LAN ID and password 'rsa123' in dev/uat; your LAN ID and 
            your enterprise password in prod (which you probably will never do unless you are a user yourself).
        </li>
        <li>To redeploy, rebuild docker image and save again. You may need to toggle 'continuous deployment'</li>
    </ol>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            4. Setup App Service and Networking in Azure
        </mat-panel-title>
    </mat-expansion-panel-header>
    The following steps highlight setting up your App Service and networking for both Azure and Hanover, to connect the App Service to URL (<i>PROJECT_NAME.allmerica.com)</i>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create Azure App Service
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
            <div><u>Basics</u></div>
                <li>Project Details: Choose Subscription (ex: Commercial Lines - R&D) and Resource Group (eg: EnterpriseSolutions)</li>
                <li>Instance Details: Under Publish, choose Docker Container, Linux as OS, and East US 2 for Region.</li>
                <li>App Service Plan: Choose relevant App Service Plan (eg: CLDevAppService)</li>
        
            <br><div><u>Docker</u></div>
                <li>Options: Choose Single container, and Azure Container Registry for Image Source</li>
                <li>Azure container registry options: Choose the docker registry, image, and tag from the previous step (this can be changed/updated later)</li>
            
            <br><div><u>Monitoring (optional)</u></div>
                <li>Enable Application insights can be enabled for better debugging </li>
            
            <br><div>Click <b>Review and Create</b></div>
                <li>Once created, navigate to the Overview tab and add tags for BusinessUnit, CostCenter (345078), Department (Analytics), and Environment</li>
        </ol>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Setup Networking (Internal - Azure)
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
            <div><u>Create Azure Private Endpoint</u></div>
                <li>Open App Service and Navigate to <i>Networking</i></li>
                <li>Under <i>Inbound Traffic</i>, Click into Private Endpoints, then Add</li>
                <li>Name your Endpoint, and select the same Subscription as above (ex: Commercial Lines - R&D)</li>
                <li>Select Virtual Network (ex: CL-RD-EastUS2-vnet) and Subnet (ex: trusted subnet 2)</li>
                <li><b style="color:red">Make sure that "Integrate with private DNS Zone" is set to No</b></li>
                <li>Click <b>Ok</b>. After creating, navigate to the Private Endpoint Overview, and verify the ResourceGroup is "NetworkServices"</li>

            <br><div><u>Setup Vnet Integration</u></div>
                <li>Return to App Service and Navigate to <i>Networking</i></li> 
                <li>Under <i>Outbound Traffic</i>, Click into Vnet Inegration, then Add</li>  
                <li>Select the same Virtual Network as the Private Endpoint (CL-RD-EastUS2-vnet)</li> 
                <li>Select Existing Subnet, and choose one of the subnets listed under Available for Integration (trusted-subnet-1)</li>
                <li>Click <b>Ok</b></li>

            <br><div><u>Submit Request for Private Endpoint Integration with Azure's Core DNS </u></div>
                <li>Return to App Service and navigate to <i>Networking</i></li>
                <li>Copy the Private Endpoint Name and Inbound IP address from the <i>Inbound Traffic</i> section</li>
                <li>Return to the <i>Overview</i> page, and copy the Subscription Name and Subscription ID</li>
                <li>Go to the Technology Place and submit an "Other Request" at the bottom</li>
                <li>Submit a Request Ticket with the information collected, and save the REQ# </li>
                <pre class="code">Please link our “APP_SERVICE_NAME” Web App with the private endpoint “PRIVATE_ENDPOINT_NAME” to Azure core DNS:
    
    App Service Name: facreinsurance-dev
    Private Endpoint Name: facreinsurance-dev
    Subscription: Commercial Lines - R&D (da6c049b-87cd-4e56-b023-fd0b825d8c35)
    Inbound IP Address: 10.93.3.37
                </pre>

                <br><li>Finally, send an email to Janar <i>(jperumalsam@hanover.com) </i> with the REQ# and let him know the same info</li>
                
        </ol>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Setup Networking (External - Hanover)
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
            <div><u>Submit Custom Domain Request</u></div>
            <li>Return to App Service, and navigate to <i>Custom Domains</i></li>
            <li>Copy the Custom Domain Verification ID</li>
            <li>Navigate to <link href="http://netpub/netpub-cgi/ipmr.pl)">, list your email and select FreeForm for Function</li>
            <li>Leave the other fields blank, and under Comment section submit this information:</li>
            <pre class="code">
External DNS Change.

TXT asuid.APP_SERVICE_DOMAIN_NAME.allmerica.com    CUSTOM_DOMAIN_VERIFICATION_ID
CNAME APP_SERVICE_DOMAIN_NAME.allmerica.com     APP_SERVICE_DOMAIN_NAME.azurewebsites.net

Internal DNS

A record
APP_SERVICE_DOMAIN_NAME.allmerica.com 

INBOUND_IP_ADDRESS</pre>
            <small><i>Note: Requests are processed on Thursdays, and the SLA is 5 business days, so make sure to give plenty lead time</i></small><br>
            <br><div><u>Setup Custom Domain in App Service</u></div>
            <li>When the request is completed, return to App Service and navigate to <i>Custom Domains</i></li>
            <li>Click Add Custom Domain, enter the App Service Domain Name, and verify Hostname Record Type is CNAME</li>
            <li>Click Validate, and when validation passes, click <b>Ok</b></li>
            
            <br><div><u>You should be all set! If you run into issues, try the following:</u></div>
            <li>Restart the App Service</li>
            <li>If you or a business user gets the error message from F5 - <b>"Access to this page is blocked. Access was denied by a per-request policy."</b>, you'll need to request to be added to the LDAP group</li>
            <pre class="code">
DEV/UAT: cn=CAAMSTest,ou=GROUPS,ou=RISK,o=ALLMERICA 
PROD: cn=CAAMSPROD,ou=GROUPS,ou=RISK,o=ALLMERICA</pre>
        </ol>
    </mat-expansion-panel>

</mat-expansion-panel>
