<mat-toolbar color="primary" class="mat-elevation-z12">

  <div>
    <mat-icon [matMenuTriggerFor]="appMenu" class="mat-elevation-z2">menu</mat-icon>
  </div>

  <div>Technical Documentation for Developers</div>

  <div>
    <mat-icon [routerLink]="['/help']" class="mat-elevation-z2">help</mat-icon> &nbsp;
  </div>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon ></button>
  <button mat-menu-item [matMenuTriggerFor]="introductionMenu">Introduction</button>
  <button mat-menu-item [matMenuTriggerFor]="frontEndMenu">Front end</button>
  <button mat-menu-item [matMenuTriggerFor]="backEndMenu">Back end</button>
  <button mat-menu-item [matMenuTriggerFor]="deployemntMenu">Deployment</button>
  <button mat-menu-item [matMenuTriggerFor]="maintenanceMenu">Maintenance</button>
  <button mat-menu-item [matMenuTriggerFor]="miscellaneousMenu">Miscellaneous</button>
  <button mat-menu-item [matMenuTriggerFor]="debuggingMenu">Debugging</button>
</mat-menu>

<mat-menu #introductionMenu="matMenu">
  <button mat-menu-item [routerLink]="['/introduction/technologies']">Technologies</button>
  <button mat-menu-item [routerLink]="['/introduction/software']">Software</button>
  <button mat-menu-item [routerLink]="['/introduction/programming-languages']">Programming Languages</button>
</mat-menu>

<mat-menu #frontEndMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/angular']">Angular</button>
</mat-menu>

<mat-menu #backEndMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/nodejs-npm']">Node.js + NPM</button>
</mat-menu>

<mat-menu #deployemntMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/azure']">Azure deployment</button>
  <button mat-menu-item [routerLink]="['/resources/pm2']">PM2 deployment</button>
  <button mat-menu-item [routerLink]="['/resources/docker']">Docker</button>
</mat-menu>

<mat-menu #maintenanceMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/refactoring']">Code refactor</button>
  <button mat-menu-item [routerLink]="['/resources/documentation']">Documentation</button>
  <button mat-menu-item [routerLink]="['/resources/cross-training']">Cross-training</button>
</mat-menu>

<mat-menu #miscellaneousMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/bash']">Bash commands, etc.</button>
  <button mat-menu-item [routerLink]="['/resources/visual-studio-code']">Visual Studio Code</button>
  <button mat-menu-item [routerLink]="['/resources/vim']" class="faded">Vim</button>
  <button mat-menu-item [routerLink]="['/resources/git']">Git</button>
  <button mat-menu-item [routerLink]="['/resources/emoji']">Emoji</button>
  <button mat-menu-item [routerLink]="['/resources/sql']">SQL</button>
</mat-menu>

<mat-menu #debuggingMenu="matMenu">
  <button mat-menu-item [routerLink]="['/resources/front-end-debugging']">Front end</button>
  <button mat-menu-item [routerLink]="['/resources/back-end-debugging']">Back end</button>
</mat-menu>